.add-new {
  background-color: var(--bg-color);
  color: white;
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
  width: 100px;
  padding-left: 60px;
  font-size: xx-large;
  transform: translateX(-60px);
  transition: transform 0.2s;
}

.add-new--showing-form span {
  transform: rotate(45deg);
  display: inline-block;
}

.add-new:hover {
  transform: translateX(-50px);
}
