@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --underwater-height: 4vh;
  --wave-height: 8vh;

  --background-color: #1a3c5d;
  --secondary-color: #1990a7;
  --page-color: #fff;

  --text-color: #000;
  --text-color--inverted: #fff;

  --content-height: calc(100vh - 3 * var(--wave-height));
}

/* base */

html {
  background: var(--page-color) !important;
}

body {
  margin: 0;
  overflow: hidden;
  /* background-color: var(--page-color); */
}

/* commons */

.background-page-color {
  background: var(--page-color);
}

.background-color--background {
  background: var(--background-color);
}

.color-text--inverted {
  color: var(--text-color--inverted) !important;
}

.swingy {
  animation: swingy 2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-right: 10px;
}

@keyframes swingy {
  0% {
    transform: rotate(-30deg);
  }
  20% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(330deg);
  }
}

.collection-item {
  height: calc(var(--content-height) * 3 / 4);
  margin-top: calc(var(--content-height) / 8);
  margin-right: 4rem;
  display: inline-block;
  width: 30rem;
  background: rgb(244, 244, 244);
  padding: 20px;
  border-radius: 25px;
  overflow: auto;
  color: var(--text-color);
}

.collection-item > header {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.collection-item > header > h1 {
  height: 3rem;
  line-height: 3rem;
  font-weight: bolder;
}
