@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --underwater-height: 4vh;
  --wave-height: 8vh;

  --bg-color: #1a3c5d;
  --secondary-color: #1990a7;
  --page-color: #fff;

  --content-height: calc(100vh - 3 * var(--wave-height));
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

.has-underline {
  text-decoration: underline;
}

.bg-secondary {
  background: var(--secondary-color);
}

.bg-bg {
  background: var(--bg-color);
}

.color-page {
  color: var(--page-color);
}

.swingy {
  animation: swingy 2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-right: 10px;
}

@keyframes swingy {
  0% {
    transform: rotate(-30deg);
  }
  20% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(330deg);
  }
}

.collection-item {
  height: calc(var(--content-height) * 3 / 4);
  margin-top: calc(var(--content-height) / 8);
  margin-right: 4rem;
  display: inline-block;
  width: 30rem;
  background: rgb(244, 244, 244);
  padding: 20px;
  border-radius: 25px;
}

.collection-item > header {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.collection-item > header > h1 {
  height: 3rem;
  line-height: 3rem;
  font-weight: bolder;
}
